body {
	color: #002f43;
	font-family: 'Lato', sans-serif;
	font-size: 1.75rem;
}
img {
	max-width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  color: #db1b3b;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 2.5rem;
}
a, a:visited, a:hover {
	color: #db1b3b;
}
hr {
  margin-bottom: 30px;
  margin-top: 30px;
  border-color: #f1f1f1;
  border-width: 1px;
}
p, li {
  font-size: 2rem;
}

/* General classes */

.lead {
  color: #002f43;
  font-size: 1.5rem;
  font-weight: 400;
}

/* Alert */

.alert-info {
  background: #f1f1f1;
  color: #212121;
  padding: 3rem;
}
p, ul {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

/* Icons */

.icon .fa, .icon .fab, .icon .fas, .icon .far {
  color: #002f43;
  font-size: 7rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Images */

.img-border {
  border: 15px solid #efefef;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0;
}

/* Navbar */

.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar img {
  margin-top: 8px;
  max-height: 35px;
}
.navbar-inverse, .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	background-color: #db1b3b;
	border-color: #db1b3b;
}
.navbar-inverse .navbar-toggle {
	border-color: #ffffff;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background: #db1b3b;
}
.navbar-header a, .navbar-header a:visited, .navbar-header a:hover {
  color: #ffffff;
}
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
}
.brand {
  padding-bottom: 20px;
}

/* Masthead */

.jumbo {
  padding-top: 30px;
  padding-bottom: 40px;
}
.bs-docs-masthead,
.bs-docs-header {
  margin-bottom: 30px;
  position: relative;
  padding: 30px 0;
  color: #fff;
  text-align: center;
  background-color: #db1b3b;
  background-image: url('../img/background_bg-hero.png');
  background-repeat: repeat;
}
.bs-docs-masthead .container {
  padding-bottom: 40px;
  padding-top: 0px;
}
.bs-docs-masthead a, .bs-docs-masthead a:visited {
	color: #ffffff;
  text-decoration: none;
}
.bs-docs-masthead .bs-docs-booticon {
  margin: 0 auto 20px;
}
.bs-docs-masthead h1 {
  font-weight: 900;
  line-height: 1;
  color: #fff;
  margin-bottom: 10px;
}
.bs-docs-masthead .lead {
  margin: 0;
  font-size: 1.5rem;
  color: #fff;
}
.bs-docs-masthead .btn {
  width: 100%;
  padding: 15px 30px;
  font-size: 20px;
}
.bs-docs-masthead a, .bs-docs-masthead a:visited {
  text-decoration: none;
}
.bs-docs-masthead a:hover {
  text-decoration: none;
}
@media (min-width: 480px) {
  .bs-docs-masthead .btn {
    width: auto;
  }
}

@media (min-width: 768px) {
  .bs-docs-masthead {
    padding: 0px 0;
  }
  .bs-docs-masthead h1 {
    font-size: 5rem;
  }
  .bs-docs-masthead .lead {
    font-size: 24px;
  }
}

/* Footer */

.footer {
	padding-bottom: 40px;
	padding-top: 40px;
}
.footer a, .footer a:visited, .footer {
}
.footer .fa, .footer .fas, .footer .fab {
  font-size: 150%;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.footer p {
  font-size: 100%;
  margin: 0;
  padding: .25em 0;
}

/* Buttons */

.btn {
  font-size: 15px;
}
a.btn-primary, .btn-primary, a.btn-primary:hover, .btn-primary:hover {
  color: #fff;
  background-color: #db1b3b;
  border: none;
  border-radius: 5px;
  font-weight: 900;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 10px;
  text-decoration: none;
  display: block;
  text-align: center;
}
a.btn-primary:hover, .btn-primary:hover {
  background-color: #212121;
  text-decoration: none;
}

.bs-docs-masthead a.btn-primary, .bs-docs-masthead .btn-primary, .bs-docs-masthead a.btn-primary:hover, .bs-docs-masthead .btn-primary:hover {
  color: #ffffff;
  background-color: #453C7B;
  border: none;
  font-weight: 900;
  padding: 15px;
  text-decoration: none;
}
.bs-docs-masthead a.btn-primary:hover, .bs-docs-masthead .btn-primary:hover {
  color: #ffffff;
  background-color: #3A6EDD;
  text-decoration: none;
}

/* Book */

.book {
  border-top: 1px solid #f1f1f1;
  margin-top: 1rem;
  padding-top: 1rem;
}
.book img {
  border: 1px solid #000000;
  margin-top: 1rem;
}
