---
layout: default
title: Distributed Government
description: Helping public service teams build highly effective remote and telework environments.
excerpt: Helping public service teams build highly effective remote and telework environments.
---
<div class="container section">
    <!-- Luke below is a stub of showing topics on the homepage. Remove the commenting to use. -->
    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!--<h2>Topics</h2>-->
    <!--<p>Add text here.</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="card-group">-->
    <!--{% for page in site.topics %}-->
    <!--{% if page.title != 'Template' %}-->
    <!--<div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">-->
    <!--<div class="card">-->
    <!--<div class="card-body icon">-->
    <!--<a href="/{{ page.url }}">-->
    <!--<span class="icon"><i class="fas {{ page.icon }}"></i></span>-->
    <!--<p>{{ page.title }}</p>-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--{% endif %}-->
    <!--{% endfor %}-->
    <!--</div>-->
    <div class="row">
        <div class="col-md-12">
            <h2>Topics</h2>
            <div class="card-group">
                {% for page in site.topics %}
                {% if page.title != 'Template' %}
                <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                    <div class="card">
                        <div class="card-body icon">
                            <a href="{{ site.baseurl }}{{ page.url }}" class="stretched-link">
                                <span class="icon"><i class="fas {{ page.icon }}"></i></span>
                                <p>{{ page.title }}</p>
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!--     <div class="row">
        <div class="col-md-12">
            <h2>Why distributed</h2>
            <p>Distributed government teams play a critical role in building responsive and resilient public services.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <span class="icon"><i class="fas fa-landmark"></i></span>
            <p>Representation</p>
        </div>
        <div class="col-md-3">
            <span class="icon"><i class="fas fa-expand"></i></span>
            <p>Resiliency</p>
        </div>
        <div class="col-md-3">
            <span class="icon"><i class="far fa-handshake"></i></span>
            <p>Recruiting</p>
        </div>
        <div class="col-md-3">
            <span class="icon"><i class="fas fa-file-invoice-dollar"></i></span>
            <p>Cost savings</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <span class="icon"><i class="fas fa-leaf"></i></span>
            <p>Sustainability</p>
        </div>
        <div class="col-md-3">
            <span class="icon"><i class="fas fa-balance-scale"></i></span>
            <p>Work/life balance</p>
        </div>
        <div class="col-md-3">
            <span class="icon"><i class="fas fa-hand-holding-usd"></i></span>
            <p>Economic empowerment</p>
        </div>
        <div class="col-md-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><a href="/guide/why-distributed">Why distributed</a></p>
        </div>
    </div>
</div> -->
<div class="container section">
    <div class="row">
        <div class="col-md-12">
            <h2>Services</h2>
            <p>Remote / telework services for government teams.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include services.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><a href="/services">Services</a></p>
        </div>
    </div>
</div>
<div class="container people section">
    <div class="row">
        <div class="col-md-12">
            <h2>People</h2>
            <p>Distributed government instructors, advisors and coaches.</p>
        </div>
    </div>
    <div class="row">
        {% include people-featured.html %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><a href="/people">People</a></p>
        </div>
    </div>
</div>
<div class="container section">
    <div class="row">
        <div class="col-md-12">
            <h2>Guide</h2>
            <p>The <a href="/guide">Distributed Government Guide</a> is a free resource helping public service teams build effective remote and telework environments.</p>
        </div>
    </div>
    <div class="row">
        {% include guide.html %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><a href="/guide">Guide</a></p>
        </div>
    </div>
</div>
<div class="container section">
    <div class="row">
        <div class="col-md-12">
            <h2>Help</h2>
            <p>Remote / telework support.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul>
                {% assign sorted = site.help | sort: 'date' | reverse %}
                {% for item in sorted %}
                <li><a href="{{ item.url }}">{{ item.title }}</a> <span class="text-muted">(Posted: {{ item.date | date: "%B %-d, %Y" }})</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><a href="/help">Help</a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Latest news</h2>
        </div>
        <div class="col-md-12">
            {% include news.html %}
        </div>
    </div>
</div>