---
layout: default
title: Distributed Government
description: Helping public service teams build highly effective remote and telework environments.
excerpt: Helping public service teams build highly effective remote and telework environments.
jumbotron: home
action: Browse services
---
<div class=" bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Topics</h2>
                <p>Select a telework topic:</p>
                <div class="card-deck">
                    {% for page in site.topics %}
                    {% if page.title != 'Template' %}
                    <div class="card">
                        <div class="card-body">
                            <a href="{{ page.url }}" class="stretched-link"><span class="icon"><i class="fas {{ page.icon }}"></i></span></a>
                            <h5 class="h5"><a href="{{ page.url }}">{{ page.title }}</a></h5>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container section">
    <div class="row">
        <div class="col-md-12">
            <h2>Services</h2>
            <p>Remote / telework services for government teams.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include services.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><a href="/services">Services</a></p>
        </div>
    </div>
</div>
<div class="container people section">
    <div class="row">
        <div class="col-md-12">
            <h2>People</h2>
            <p>Distributed government instructors, advisors and coaches.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include people-featured.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><a href="/people">People</a></p>
        </div>
    </div>
</div>
<div class="container section">
    <div class="row">
        <div class="col-md-12">
            <h2>Guide</h2>
            <p>The <a href="/guide">Distributed Government Guide</a> is a free resource helping public service teams build effective remote and telework environments.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include guide.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><a href="/guide">Guide</a></p>
        </div>
    </div>
</div>
<div class="container section">
    <div class="row">
        <div class="col-md-12">
            <h2>Help</h2>
            <p>Remote / telework support.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul>
                {% assign sorted = site.help | sort: 'date' | reverse %}
                {% for item in sorted %}
                <li><a href="{{ item.url }}">{{ item.title }}</a> <span class="text-muted">(Posted: {{ item.date | date: "%B %-d, %Y" }})</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><a href="/help">Help</a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Latest news</h2>
        </div>
        <div class="col-md-12">
            {% include news.html %}
        </div>
    </div>
</div>