---
layout: default
title: Categories
---
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="archives">
                {% for category in site.categories %}
                <div class="archive-group">
                    {% capture category_name %}{{ category | first }}{% endcapture %}
                    <div id="#{{ category_name | slugize }}"></div>
                    <h2>{{ category_name | capitalize }}</h3>
                    <a name="{{ category_name | slugize }}"></a>
                    {% for post in site.categories[category_name] %}
                    <article>
                        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></h3>
                        <p class="text-muted">{{ post.date | date: "%B, %-d %Y"}}</p>
                    </article>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>