---
layout: default
title: Help
description: Remote / telework support.
excerpt: Remote / telework support.
---
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% assign sorted = site.help | sort: 'date' | reverse %}
            {% for item in sorted %}
            <h2>
                <a href="{{ item.url }}">{{ item.title }}</a>
            </h2>
            <p class="text-muted">Posted: {{ item.date | date: "%B, %-d %Y" }} &middot;
                {% if item.author %}
                {% comment %}Loop through all of the authors of the page.{% endcomment %}
                {% for author in item.author %}
                {% comment %}"where" creates an array, so using "first" we can pop the first item off of the array of 1.{% endcomment %}
                {% assign author_data = site.people | where:"author", author | first %}
                {% if forloop.index0 != 0%}& {% endif %}<a href="{{ author_data.url }}">{{ author_data.name }}</a>
                {% endfor %}
                {% endif %}
                <p>
                    {{ item.description }}
                </p>
                {% endfor %}
                <div class="alert alert-secondary" role="alert">
                    <p><strong>Have a question?</strong> <a href="{{ site.url }}/ask">Ask us anything</a>.</p>
                </div>
        </div>
    </div>
</div>
