---
layout: default
title: Distributed Government
description: Helping public service teams build highly effective remote and telework environments.
---
<div class="container section">
    <div class="row">
        <div class="col-md-6">
            <h2>Who it's for</h2>
            <ul>
                <li>Government team leaders</li>
                <li>Government team members</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2>Why distributed</h2>
            <p>Distributed government teams play a critical role in building highly-effective public services. <a href="/guide/why-distributed/">Learn more &raquo;</a></p>
            </ul>
        </div>
    </div>
</div>
<div class="">
    <div class="container section">
        <div class="row">
            <div class="col-md-12">
                <h2>Services</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include services.html %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><a href="/services">Services</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container people section">
    <div class="row">
        <div class="col-md-12">
            <h2>People</h2>
            <p>Distributed government instructors, advisors and coaches.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include people.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><a href="/people">People</a></p>
        </div>
    </div>
</div>
<div class="container section">
    <div class="row">
        <div class="col-md-12">
            <h2>Guide</h2>
            <p>The <a href="/guide">Distributed Government Guide</a> is a free resource helping public service teams build effective remote and telework environments.</p>
        </div>
    </div>
    <div class="row">
        {% include guide.html %}
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><a href="/guide">Guide</a></p>
        </div>
    </div>
</div>
<div class="container section">
    <div class="row">
        <div class="col-md-12">
            <h2>Help</h2>
            <p>Remote / telwork support.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul>
                {% for help in site.help %}
                <li><a href="{{ help.url }}">{{ help.title }}</a> <span class="text-muted">({{ help.date | date: "%B, %-d %Y" }})</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><a href="/help">Help</a></p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Latest news</h2>
        </div>
        <div class="col-md-12">
            {% include news.html %}
        </div>
    </div>
</div>