<div class="card-deck">
    {% for item in site.data.services.docs %}
    <div class="card">
        <div class="card-body icon">
            <a href="{{ item.url }}" class="stretched-link">{{ item.icon }}</a>
            <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
            <p>{{ item.description }}</p>
            <p class="card-text">{{ author.bio_short }}</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" href="{{ item.url }}" role="button">Browse {{ item.title | downcase }}</a>
        </div>
    </div>
    {% endfor %}
</div>