---
layout: default
---
{% include header.html %}
{% include nav.html %}
<main>
    <div class="jumbotron {{ page.jumbotron }}">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if page.service %}
                    <p>
                        {{ page.service }}
                    </p>
                    {% endif %}
                    <h1 class="display-4">{{ page.title }}</h1>
                    {% if page.excerpt %}
                    <p class="lead">{{ page.excerpt }}</p>
                    {% endif %}
                    {% if page.author %}
                    {% comment %}Loop through all of the authors of the page.{% endcomment %}
                    {% for author in page.author %}
                    {% comment %}"where" creates an array, so using "first" we can pop the first item off of the array of 1.{% endcomment %}
                    {% assign author_data = site.people | where:"author", author | first %}
                    <div class="people people-jumbotron">
                        <a href="{{ author_data.url }}"><img src="{{ site.url }}/img/people/{{ author_data.image }}" alt="{{ author_data.name }}" title="{{ author_data.name }}"></a> <a href="{{ author_data.url }}">{{ author_data.name }}</a>, {{ author_data.bio_short }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% if page.form %}
                    <div class="request">
                        <p><a class="btn btn-primary btn-lg" href="{{ page.form }}" role="button">Request {{ page.service | downcase }}</a> &nbsp; Questions? <a href="{{ site.url }}/contact">Contact us</a></p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {{ content }}
</main>
{% include footer.html %}
