---
layout: default
---
<div class="container section">
    <div class="row">
        <div class="col-md-8">
            {% if page.service_about %}
            <h2>About this {{ page.service | downcase }}</h2>
            <p>{{ page.service_about }}</p>
            {% endif %}
            {% if page.prerequisites %}
            <h2>Prerequisites</h2>
            <p>{{ page.prerequisites }}</p>
            {% endif %}
            {% if page.who %}
            <h2>Who it's for</h2>
            <ul>
                {% for item in page.who %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if page.what_you_learn %}
            <h2>What you learn</h2>
            <ul class="fa-ul">
                {% for item in page.what_you_learn %}
                <li><span class="fa-li"><i class="fas fa-check"></i></span> {{ item }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if page.format %}
            <h2>Format</h2>
            <ul>
                {% for item in page.format %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if page.followup %}
            <h2>Follow-up</h2>
            <ul>
                {% for item in page.followup %}
                <li>{{ item }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% if page.cost %}
            <h2>Cost</h2>
            <p>{{ page.cost }}</p>
            {% endif %}
        </div>
        <div class="col-md-4 details">
            <div class="alert-info">
                <h2>Topics</h2>
                <ul class="nav nav-pills">
                    {% for item in page.categories %}
                    <li class="nav-item">{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container people">
    <div class="row">
        <div class="col-md-12">
            {% assign plural = '' %}
            {% comment %}Check if author is an array and if it is more than one to decide if plural.{% endcomment %}
            {% if page.author.first and page.author.size > 1 %}
                {% if page.service == 'Coaching' %}
                    {% assign plural = 'es' %}
                {% else %}
                    {% assign plural = 's' %}
                {% endif %}
            {% endif %}
            {% case page.service %}
            {% when 'Training' %}
            {% assign person_noun = 'Instructor' | append: plural %}
            {% when 'Consulting' %}
            {% assign person_noun = 'Advisor' | append: plural %}
            {% when 'Coaching' %}
            {% assign person_noun = 'Coach' | append: plural %}
            {% endcase %}
            <h2>{{ person_noun }}</h2>
        </div>
    </div>
    {% comment %}Loop through all of the authors of the page.{% endcomment %}
    {% for author in page.author %}
    {% comment %}"where" creates an array, so using "first" we can pop the first item off of the array of 1.{% endcomment %}
    {% assign author_data = site.people | where:"author", author | first %}
    <div class="row">
        <div class="col-md-2">
            <div class="people bio">
                <a href="{{ author_data.url }}"><img src="{{ site.url }}/img/people/{{ author_data.image }}" alt="{{ author_data.name }}" title="{{ author_data.name }}"></a>
                <p class="people-social">
                    {% if author_data.linkedin %}
                    <a href="{{ author_data.linkedin }}"><i class="fab fa-linkedin"></i></a>
                    {% endif %}
                    {% if author_data.github %}
                    <a href="https://github.com/{{ author_data.github }}"><i class="fab fa-github"></i></a>
                    {% endif %}
                    {% if author_data.twitter %}
                    <a href="https://twitter.com/{{ author_data.twitter }}"><i class="fab fa-twitter"></i></a>
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="col-md-10">
            <h3>{{ author_data.name }}</h3>
            {% if author_data.content %}
            <p>
                {{ author_data.content }}
            </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p><a class="btn btn-primary btn-lg" href="{{ page.form }}" role="button">Request {{ page.service | downcase }}</a> &nbsp; Questions? <a href="{{ site.url }}/contact">Contact us</a></p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Services</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include services.html %}
        </div>
    </div>
</div>
